body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    color: #333;
  }

/* Inicio menú */

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SCROLL SUAVE PARA ANCLAS */
html {
  scroll-behavior: smooth;
}

/* HEADER */
.header {
  background-color: #9b5c3b;
  color: white;
  padding: 16px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* LOGO */
.logo img{
  width: 200px;
}

/* HAMBURGER */
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 200px;
}

/* NAV MOBILE */
.nav {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #9b5c3b;
  width: 100%;
  display: none;
  flex-direction: column;
  text-align: center;
  z-index: 99;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 16px;
  font-size: 18px;
}

.nav a:hover {
  font-weight: bold;
}

/* MOSTRAR MENU */
.nav.active {
  display: flex;
}

/* SECCIONES DEMO */
.section {
  height: 100vh;
  padding: 40px;
  font-size: 32px;
}



/*Fin menú */



/*Inicio imagen hero*/
  
  .hero {
    background: #F0ECE0;
    text-align: center;
    
  }
  
  .hero img {
    width: 1300px;
    
  }
  .hero h1 {
    font-size: 3rem;
    margin: 0;
  }

  /*Fin imagen hero*/

  /*Inicio imagen flor*/

  .floruno img
  {
    width: 200px;
    margin-bottom: -220px;
  }


  .flordos img
  {
    width: 200px;
    margin-left: 1270px;
    margin-top: -500px;
    margin-bottom: -80px;
    
  }

  .estrella img
  {
    width: 160px;
    margin-left: 120px;
    margin-top: 50px;
  }


  /*Fin imagen flor*/
    

  .savethedate
  {
    text-align: center;
  }

  .savethedate img
  {
    width: 400px;
    margin-top: 70px;
    margin-bottom: 40px;
  }



  
  



  /*-Contador-*/

  .contador {
    background: #fffdfa;
    border-radius: 25px;
    padding: 30px 50px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    text-align: center;
    width: 800px;
    margin-left: 23%;
}

.fecha {
    font-size: 40px;
    color: #8a8f5a;
    margin-bottom: 30px;
    font-weight: 300;
}

.tiempo {
    display: flex;
    justify-content:space-evenly;
    gap: 40px;
}

.bloque {
    text-align: center;
}

.numero {
    font-size: 64px;
    color: #777;
    font-weight: 600;
}

.etiqueta {
    font-size: 22px;
    color: #888;
}


/* Historia */

.wedding-section {
  padding: 5rem 1.5rem;
}

.wedding-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 5rem;
  align-items: center;
}

/* Imagen */
.wedding-image {
  flex: 1;
}

.wedding-image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

/* Texto */
.wedding-text {
  flex: 1;
  color: #7A785F;
}

.wedding-text p {
  font-size: 1.5rem;
  text-align: left;
}

.wedding-text h2 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #7A785F;
}

/*Evento*/


.evento-section {
  padding: 5rem 1.5rem;
}

.evento-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  align-items: center;
}

/* Imagen */
.evento-image {
  flex: 1;
}

.evento-image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

/* Texto */
.evento-text {
  flex: 1;
  color: #7A785F;
  background-color: #F0ECE0;
  text-align: center;
  padding:20px 0px 20px;
  border-radius: 20px;
  
}

.evento-text p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.evento-text h2 {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 1rem 0;
  color: #7A785F;
}

.evento-text button  {
  font-size: 1.3rem;
    background: #D87D48;
    color: white;
    padding: 20px 40px !important;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  
}

/*inicio button*/

#verMapaBtn {
  padding: 10px 16px;
}

.map-options {
    display: none;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 10px;
    margin: 20px 60px;
    background: rgb(249, 248, 245);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(240, 236, 224);
    border-image: initial;
    border-radius: 6px;
}

.map-options a {
  display: block;
  padding: 10px 14px;
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
}

.map-options a:hover {
  background: #f2f2f2;
}

/*fin button*/

.evento-header
  {
    text-align: center;
  }

  .evento-header img
  {
    width: 250px;
  }

  .button

/*Fin evento*/


/* Inicio dresscode */

.dresscode-section {
  padding: 1rem 1.5rem;
}

.dresscode-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  align-items: center;
}

/* Imagen */
.dresscode-image {
  flex: 1;
}

.dresscode-image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

/* Texto */
.dresscode-text {
  flex: 1;
  color: #7A785F;
  text-align: left;
}

.dresscode-text p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.dresscode-text h2 {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 1rem 0;
  color: #7A785F;
}


.dresscode-text button  {
  font-size: 1.3rem;
    background: #D87D48;
    color: white;
    padding: 20px 40px !important;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  
}

.dresscode-text a {
  color: white;
  text-decoration: none;

}


.dresscode-header
{
  text-align: center;
}

.dresscode-header img
{
  width: 400px;
  margin-top: 80px;
}

/* Fin dresscode */



/* Inicio mesa */


.mesa-header 
{
  text-align: center;
  
}

.mesa-header img
{
  width:600px;
  margin-top: 80px;
}



.mesa-section {
  padding: 80px 20px;
  color: #7a7a63;
  font-size: 1.5rem;

}

.mesa-wrapper {
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
}

.mesa-title {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  color: #d07a4a;
  margin-bottom: 30px;
}

.mesa-intro {
  max-width: 700px;
  margin: 0 auto 20px;
  font-size: 18px;
  line-height: 1.6;
}

.mesa-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.mesa-box {
  flex: none;
  color: #7A785F;
  background-color: #F0ECE0;
  text-align: left;
  padding: 50px;
  border-radius: 20px;
}

.mesa-box strong {
  color: #6d6d55;
}

.mesa-divider {
  width: 1px;
  height: 180px;
  background-color: #b5b59a;
  
}

.mesa-paypal img {
  width: 240px;
  margin: 15px 0;
}

.paypal-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #b5b59a;
  color: #6d6d55;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  display: none;
}

.paypal-btn:hover {
  background-color: #b5b59a;
  color: #fff;
}

.mesa-footer {
  margin-top: 40px;
  font-size: 22px;
  font-weight: bold;
  color: #7a7a63;
}


/* Fin mesa */


/*formulario*/

.formulario-header
{
  text-align: center;
  background-color: #F0ECE0;
  padding: 80px;
  background-image:url(../marianayjuan/images/confirmar-fondo.png);
  background-repeat: no-repeat;
}


.formulario-header img

{
  width: 600px;
  margin-bottom: 20px;
}

  .subtitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    text-align: center;
    color: #7A785F;
    margin-bottom: 20px;
    font-size: 24px;
}

.container {
  max-width: 500px;
  margin: auto;
  
}

input[type="text"], textarea {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #BFBB95;
  box-sizing: border-box;
}

.autocomplete {
  position: relative;
}

.suggestions {
  background: #fff;
  border-top: none;
  max-height: 180px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.suggestions div {
  padding: 10px;
  cursor: pointer;
  text-align: left;
  color: #D87D48;
  font-size: 20px;
}

.suggestions div:hover {
  background: #eee;
}

.card {
  border: 2px solid #F0ECE0;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  display: none;
  background: #fff;
}

.card h2 {
  color: #D87D48;
  text-align: center;
}

.ticket-row {
  text-align: center;
  margin: 15px 0;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.counter button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid #999;
  cursor: pointer;
}

.counter span {
  font-size: 20px;
  color: #7A785F;
  font-weight: bold;
}

textarea {
  margin-top: 15px;
  resize: none;
}

.btn-primary {
  width: 100%;
  background: #D87D48;
  color: #fff;
  border: none;
  padding: 20px 40px;
  font-size: 1.3rem;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 15px;
}


.btn-secondary {
  text-align: center;
  margin-top: 15px;
  color: #D87D48;
  cursor: pointer;
  text-decoration: underline;
}

.success {
  text-align: center;
  color: #D87D48;
  font-size: 1.5rem;
  margin-top: 20px;
}


/* Estilo base para todo */
.food-restriction-option {
  display:flex;
  gap: 10px;
  margin: 8px 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #555;
  justify-content: center;
}

/* Ocultar el radio default */
.food-restriction-option input[type="radio"] {
  position: absolute;
  opacity: 0;
}

/* Crear el círculo personalizado */
.food-restriction-option .radio-custom {
  width: 20px;
  height: 20px;
  border: 2px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  transition: 0.2s ease-in-out;
  background-color: white;
  position: relative;
}

/* Punto interior cuando está seleccionado */
.food-restriction-option input[type="radio"]:checked + .radio-custom::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #D87D48;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hover para hacerlo más interactivo */
.food-restriction-option:hover .radio-custom {
  border-color: #D87D48;
}


/*fin formulario*/





#detalles, #rsvp, #galeria {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

input, select {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 12px;
}



.gallery-grid img {
  width: 48%;
  margin: 1%;
  border-radius: 8px;
}

@media (max-width: 700px) {

  .header {
    padding: 20px;
  }

  .logo img  {
    width: 180px;
  }

  .hero img {
    width: 350px;
  }
  

  .floruno img
  {
    width: 110px;
    margin-bottom: -70px;
  }

  .flordos img
  {
    align-content:end !important;
    width: 110px;
    margin-left: 270px;
    margin-top: 20px;
    margin-bottom: 0px;
    
  }
  

  .savethedate img
  {
    width: 250px;
    margin-top: 80px;
    margin-bottom: 20px;
  }


  .evento-header img
  {
    width: 200px;
  }

  .dresscode-header img
  {
    width: 250px;
  }

    .contador {
        max-width: 300px;
        margin-left: 10%;
        padding:24px 24px;
    }

    .fecha {
      font-size: 24px;
      margin-bottom: 10px;
  }

  .numero{
    font-size: 28px;
}

.etiqueta {
  font-size: 16px;
}

    .tiempo {
        flex-direction: row;
        gap: 20px;
    }

    .wedding-section, .evento-section, .dresscode-section {
      padding: 3rem 1.5rem;
    }

    .wedding-container, .evento-container, .dresscode-container {
      flex-direction: column;
      text-align: center;
    }
  
    .wedding-text h2, .evento-text h2 {
      font-size: 2rem;
    }


    .mesa-header img
  {
    width: 320px;
    padding-bottom: 20px;
  }


.formulario-header img

{
  width: 350px;
}

.formulario-header
{
  padding: 20px;
  background-image: none;
}

.hamburger {
  display: flex;
}




.estrella img {
  width: 80px;
  margin-left: 30px;
  margin-top: 2%;
}


.mesa-box {
  font-size: 18px;
  padding: 20px;
  margin-top: 40px;
  
}
.mesa-divider {
  display: none;
  
}


.mesa-paypal img {
  display: none;
}

.paypal-btn {
    font-size: 1.3rem;
      background: #D87D48;
      color: white;
      padding: 20px 40px !important;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      display: flex;
    
  }
  
}



/* DESKTOPESKTOP */
@media (min-width: 768px) {

  .hamburger {
    display: none;
  }

  .nav {
    position: static;
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 30px;
  }

  .nav a {
    padding: 0;
  }
}
  
  